@media(max-width:767px){
	.home-appliances
	{
		margin-top: 20px;
	}
	.image-grid img
	{
		height: 150px;
		width: 75%;
		display: inline-block;
	}
	.alert.alert-success.animated
	{
		width:100%;
		font-size: 12px !important;
		padding-top: 2px !important;
		background:#c9f8c3 !important;
		color:#000 !important;
		border:none !important;
		height: 60px !important;
	}

}