.rupees::before
{
    content : 'Rs'
}
.cart-width
{
    width: 100px !important;
}
.cart-image
{
    margin: 0px 0px 0px 0px !important;
    width: 50px !important;
}
.loader {

    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    text-align: center;
    display: inline-block;
    padding: 5px 0px 5px;
    margin: 5px 0px 40px 0;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.green{
    color: #019026;
}
.red{
    color: red;
}