/* -------------
 * Selects
 * ------------- */
/* Custom Select*/
span.customSelect {
	padding: 8px 5px;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	color: #333;
	text-decoration: none;
	white-space: nowrap;
	text-align:left;
	width: 120px !important;

}
span.customSelect option {font-size:12px !important;}
span.customSelect.changed {
	background-color: #f0dea4;
}
.customSelectOpen {
  -moz-box-shadow: none;
  -webkit-box-shadow: none; 
  box-shadow: none;
}

.customSelectInner {
	background:url('../../image/megnor/select-arrow-down.gif') no-repeat center right;
	width:100% !important;
}
.customSelectOpen .customSelectInner{ background:url('../../image/megnor/select-arrow-up.gif') no-repeat center right; }

#input-sort , #input-limit, #product .form-group select { cursor:pointer;}


/* TREEVIEW CATEGORY LEFT */
.treeview-list, .treeview-list ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}
.treeview-list ul {
	background:none; 
	margin:0px;
}
.treeview-list .hitarea {
	background: none;
	height: 9px;
	width: 9px;
	float: right;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea { display: inline;float:none; }
.treeview-list li { margin: 0; }
.treeview-list li.last, .treeview-list li.lastExpandable {border:none;}
.treeview-list a.selected { background-color: #eee; }

.treeview-list .hover { color:#38B0E3; cursor: pointer; }
.treeview-list li a:hover,.treeview-list li.nav-1 a:hover	 {   cursor:pointer; }
.treeview-list li ul li:hover	{ background:none;}
.treeview-list li a { display:inline;  padding-left:0px; }
.treeview-list li.active a	{ font-weight:bold; /*color:#D09E00 ;*/  } 
.treeview-list li.active ul li a	{ font-weight:normal; color:#5E5E5E;}
.treeview-list li a:hover  {/*color:#D09E00;*/ } 	
.treeview-list li ul li a:hover	{/*color:#D09E00;*/ } 	
.treeview-list li ul li { background:none; border-bottom:none; }
.treeview-list .collapsable .expandable-hitarea { 
    height: 25px;
    width: 30px;  
	text-align:right;
} 
.treeview-list .expandable .collapsable-hitarea{ 
    height: 25px;
    width: 30px;
	text-align:right;  
} 

.treeview-list .expandable-hitarea { 
    height: 25px;
    width: 30px;  
	text-align:right;
} 
.treeview-list .collapsable-hitarea { 
    height: 25px;
    width: 30px;
	text-align:right;
}
.treeview-list .expandable .collapsable-hitarea::before, .treeview-list .expandable-hitarea::before{
	color: #808080;
    content: "\f067";
    font-family: "FontAwesome";
    font-size: 10px;
}
.responsive-menu .expandable .collapsable-hitarea::before, .responsive-menu .expandable-hitarea::before{
	color: #808080;
    content: "\f067";
    font-family: "FontAwesome";
    font-size: 10px;
}
.treeview-list .collapsable .expandable-hitarea::before, .treeview-list .collapsable-hitarea::before{
	color: #808080;
    content: "\f068";
    font-family: "FontAwesome";
    font-size: 10px;
}
.responsive-menu .collapsable-hitarea::before{
	color: #808080;
    content: "\f068";
    font-family: "FontAwesome";
    font-size: 10px;
}
/* TREEVIEW CATEGORY LEFT */


/* FancyBox */

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	 -khtml-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../../image/megnor/fancybox_sprite.html');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../../image/megnor/fancybox_loading.html') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../../image/megnor/blank.html'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../../image/megnor/fancybox_overlay.html');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	 -khtml-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Product zoom CSS*/

.zoomContainer {
    margin-bottom: 5px;
}
.zoomContainer .zoomLens{
}
/*.zoomContainer .zoomWindow{
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	margin-left:10px;

}*/

/* FancyBox */

.last_item_tm .product-block{}
.first_item_tm .product-block{}


.toggle .mobile_togglemenu{ 	
	display:block;
	cursor:pointer;
	width:100%;  
	margin-top: 0; 
	overflow: hidden;
	padding:0 0 15px;
	position: absolute;
	right: 0px;
    top: 5px;
}

.toggle {
    background: none;
    padding: 10px 0px;
	margin:0 auto;
}

.active .mobile_togglemenu { background-position:right -52px; }
#footer .mobile_togglemenu:hover	{ text-decoration:none;}

.toggle .mobile_togglemenu:before {	color: #000;
		content: "\f107";
		font-family: "FontAwesome";
		font-size:20px;
		font-weight: bold;
		height: 20px;
		margin: 0;
		position: absolute;
		right: 0px;
		text-align: center;
		top: 5px;
		width: 20px;
	}
.active .mobile_togglemenu:before { content: "\f106"; } 


/* Responsive menu Css Start */
.nav-responsive span { display:inline-block;}
.ie7 .nav-responsive span { display:inline;}
.nav-responsive { cursor:pointer; display:none; background:#333; }
.main-navigation  ul  li{ list-style:none; position:relative;}
.nav-responsive .expandable{
background: url("../../image/megnor/sprite.png") no-repeat scroll -27px -165px transparent;
height: 25px;
margin-top: 14px;
width: 30px;	
} 
.responsive-menu {padding:0; position:relative;}
.responsive-menu .main-navigation{ 
	position:absolute; 
	z-index:999;  
	display:none; 
	margin-top:0px; 
	padding:1%;
	width:100%; 
	list-style:none;
}
.responsive-menu .main-navigation ul{padding-left:20px;}
.nav-responsive div,
.responsive-menu .hitarea {
	background: none;
	height: 9px;
	width: 9px;
	float: right;
	cursor: pointer;
	margin-right: 15px;
	margin-left:15px;
}
.responsive-menu .hitarea{margin-right:0; margin-left:0; }
.responsive-menu .expandable .collapsable-hitarea{ 
	height: 30px;		
	padding: 0;
	width: 25px;
} 
.responsive-menu .expandable-hitarea { 
	height: 30px;
	width: 25px;		
	padding: 5px;
} 
.responsive-menu .collapsable-hitarea { 
	height: 30px;
	width: 25px;
	padding: 5px;	
} 

/* Responsive menu Css End */