@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #5e6773;
}

a {
  color: #00aaff;
}

a:hover, a:focus {
  color: #008fd6;
  text-decoration: none;
}
.Position_Relative{position:relative;}
.Position_Absolute{position:absolute;}




/********************
 * LAYOUT
 ********************/
/*.bgimg{

     background: linear-gradient(to right bottom, #85c446 ,rgba(133, 196, 70, 0.7),rgba(133, 196, 70, 0.31));
    background: url(../img/banner.jpg) no-repeat 0px 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
	}*/
#wrapper {
  overflow-x: hidden;
}

html.fullscreen-bg,
html.fullscreen-bg body,
html.fullscreen-bg #wrapper {
  height: 100%;
}

.vertical-align-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
}

.vertical-align-middle {
  display: table-cell;
  vertical-align: middle;
      background: #367fa9 !important;
    background: -webkit-linear-gradient(right, #367fa9, #399ca9) !important;
    background: -moz-linear-gradient(right, #367fa9, #399ca9) !important;
    background: -o-linear-gradient(right, #367fa9,#399ca9) !important;
    background: linear-gradient(to left, #367fa9, #399ca9) !important;
}

.layout-table {
  display: table;
  width: 100%;
}

.layout-table .cell {
  display: table-cell;
}

.layout-table .cell.valign-top {
  vertical-align: top;
}

.layout-table .cell.valign-middle {
  vertical-align: middle;
}

.layout-table .cell.valign-bottom {
  vertical-align: bottom;
}


/********************
 * INPUTS
 ********************/
.form-control {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-color: #e1e3ea;
  background-color: #fcfcfc;
  color: #5e6773;
}

.form-control:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #c9cdd9;
  background-color: #fff;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.input-group-btn .btn {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* fancy checkbox and radio button */
.fancy-checkbox {
  margin-right: 10px;
}

.fancy-checkbox,
.fancy-checkbox label {
  font-weight: normal;
}

.fancy-checkbox input[type="checkbox"] {
  display: none;
}

.fancy-checkbox input[type="checkbox"] + span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  cursor: pointer;
  position: relative;
}

.fancy-checkbox input[type="checkbox"] + span:before {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  bottom: 1px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  content: "";
  border: 1px solid #dbdfe2;
}

.fancy-checkbox input[type="checkbox"]:checked + span:before {
  font-family: FontAwesome;
  content: '\f00c';
  font-size: 11px;
  color: #97a3b7;
  text-align: center;
  line-height: 20px;
  background: #f1f4f7;
  border: 1px solid #dbdfe2;
}

.fancy-checkbox.custom-color-green input[type="checkbox"]:checked + span:before {
  color: #53D76A;
  background-color: #fff;
}

.fancy-checkbox.custom-bgcolor-green input[type="checkbox"]:checked + span:before {
  color: #fff;
  background-color: #53D76A;
  border-color: #32cf4d;
}

.fancy-checkbox.custom-bgcolor-blue input[type="checkbox"]:checked + span:before {
  color: #fff;
  background-color: #00aaff;
  border-color: #00aaff;
}

.fancy-radio {
  margin-right: 10px;
}

.fancy-radio,
.fancy-radio label {
  font-weight: normal;
}

.fancy-radio input[type="radio"] {
  display: none;
}

.fancy-radio input[type="radio"] + span {
  display: block;
  cursor: pointer;
  position: relative;
}

.fancy-radio input[type="radio"] + span i {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  position: relative;
  bottom: 1px;
  content: "";
  border: 1px solid #dbdfe2;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.fancy-radio input[type="radio"]:checked + span i:after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #97a3b7;
}

.fancy-radio.custom-color-green input[type="radio"]:checked + span i:after {
  background-color: #53D76A;
}

.fancy-radio.custom-bgcolor-green input[type="radio"]:checked + span i {
  background-color: #53D76A;
}

.fancy-radio.custom-bgcolor-green input[type="radio"]:checked + span i:after {
  background-color: #fff;
}

.fancy-radio.custom-color-blue input[type="radio"]:checked + span i:after {
  background-color: #00aaff;
}

/* fancy checkbox and fancy radio */
.input-group-addon .fancy-radio,
.input-group-addon .fancy-checkbox {
  margin: 0;
  position: relative;
  top: 1px;
}

.input-group-addon .fancy-radio input[type="radio"] + span i,
.input-group-addon .fancy-checkbox input[type="checkbox"] + span {
  margin: 0;
}

.input-group-addon .fancy-radio input[type="radio"] + span i:before,
.input-group-addon .fancy-checkbox input[type="checkbox"] + span:before {
  margin: 0;
}
.login-btn{background:#ff8400;border:1px solid #d26d00;transition:all .5s;padding:6px 12px !important;border-radius:3px;}
.login-btn:hover{background:#d26d00;border:1px solid #d26d00;}
.form-auth-small .form-control{border:1px solid #333;border-radius:3px ;height:38px;padding-left:30px;}


/********************************
 * AUTHENTICATION FORMS, PAGE
 ********************************/
.auth-box {
    -moz-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 1px 5px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 25%;
    height: 400px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.40);
}

.auth-box:before {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  content: ' ';
  vertical-align: middle;
  height: 100%;
}

.auth-box .content {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 96%;
  vertical-align: middle;
}

.auth-box .left {
  float: left;
  width: 100%;
  height: 100%;
  padding: 0 55px;
  text-align: center;
}

.auth-box .left:before {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  content: ' ';
  vertical-align: middle;
  height: 100%;
}

.auth-box .right {
  float: right;
  width: 58%;
  height: 100%;
  position: relative;
  background-image:url(../img/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-box .right:before {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  content: ' ';
  vertical-align: middle;
  height: 100%;
}

.auth-box .right .text {
  position: relative;
  padding: 0 30px;
  color: #fff;
}

.auth-box .right .heading {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 400;
  margin-top:-190px;
}

.auth-box .right p {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}

.auth-box .right .overlay {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 170, 255, 0.51);
}

.auth-box .header {
  margin-bottom: 30px;
}

.auth-box .lead {
  margin-top: 5px;
  font-size: 18px;
  text-align: center;
  color:#fff;
}

.auth-box .form-auth-small .btn {
  margin-top: 15px;
}

.auth-box .form-auth-small .element-left {
  float: left;
}

.auth-box .form-auth-small .element-right {
  float: right;
}

.auth-box .form-auth-small .bottom {
  margin-top: 20px;
  text-align: center;
}

.auth-box .helper-text {
  font-size: 13px;
  color: #a0aeba;
}

.auth-box .element-right.helper-text {
  line-height: 2;
}

.auth-box .btn-signin-social {
  display: block;
  margin-bottom: 15px;
  padding: 10px 22px;
  width: 100%;
  background-color: #fff;
  border-color: #e4ecf0;
}

.auth-box .btn-signin-social:hover, .auth-box .btn-signin-social:focus {
  background-color: #fafafa;
}

.auth-box .btn-signin-social i {
  font-size: 16px;
  margin: 5px;
}

.auth-box.lockscreen {
  width: 50%;
  padding: 40px 60px;
}

.auth-box.lockscreen .logo {
  margin-bottom: 30px;
}
.logo img{width:78;height:60px;}

.auth-box.lockscreen .user {
  margin-bottom: 30px;
}

.auth-box.lockscreen .user .name {
  font-size: 18px;
  margin-top: 10px;
}

.auth-box.register, .auth-box.forgot-password {
  width: 600px;
  height: auto;
}

.auth-box.register .content, .auth-box.forgot-password .content {
  padding: 30px;
}
.form-auth-small i{left:0;margin-top:12px;margin-left:10px;color:#acadaf !important;}

@media screen and (min-width: 1440px) {
  .auth-box.lockscreen {
    width: 35%;
  }
}

@media screen and (max-width: 1279px) {
  .auth-box {
    width: 90%;
  }
  .auth-box .left {
    top: 3.3em;
  }
}

@media screen and (max-width: 1023px) {
  .auth-box .left {
    width: 100%;
    position: inherit;
    padding: 30px;
  }
  .auth-box .right {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .auth-box {
    width: 70%;
  }
  .auth-box.lockscreen {
    width: 50%;
    padding: 40px 20px;
  }
}

@media screen and (max-width: 640px) {
  .auth-box {
    width: 90%;
  }
  .auth-box .content {
    width: 95%;
  }
  .auth-box.lockscreen {
    width: 90%;
  }
  .auth-box.register, .auth-box.forgot-password {
    width: 90%;
  }
}

